@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap-vue/src/index.scss';

@include media-breakpoint-only(xs) {
  .btn-block-xs-only {
    display: block;
    width: 100%;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.fa-disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
  pointer-events: none;
}
